.folder {
  transition: all 0.2s ease-in;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.folder:not(.open):hover {
  transform: translateY(-8px);
}

.folder:not(.open):hover .paper {
  transform: translate(-50%, -10%);
}

.folder:not(.open):hover .folder__front {
  transform: skew(15deg) scaleY(0.6);
}

.folder:not(.open):hover .right {
  transform: skew(-15deg) scaleY(0.6);
}

.folder.open {
  transform: translateY(-8px);
}

.folder.open .paper:nth-child(1) {
  transform: translate(-105%, -60%) rotateZ(-12deg);
}

.folder.open .paper:nth-child(1):hover {
  transform: translate(-105%, -60%) rotateZ(-12deg) scale(1.1);
}

.folder.open .paper:nth-child(2) {
  transform: translate(5%, -60%) rotateZ(12deg);
}

.folder.open .paper:nth-child(2):hover {
  transform: translate(5%, -60%) rotateZ(12deg) scale(1.1);
}

.folder.open .paper:nth-child(3) {
  transform: translate(-50%, -95%) rotateZ(0deg);
  z-index: 10;
}

.folder.open .paper:nth-child(3):hover {
  transform: translate(-50%, -95%) rotateZ(0deg) scale(1.15);
}

.folder.open .folder__front {
  transform: skew(15deg) scaleY(0.6);
}

.folder.open .right {
  transform: skew(-15deg) scaleY(0.6);
}

.folder__back {
  position: relative;
  width: 100px;
  height: 80px;
  background: var(--folder-back-color);
  border-radius: 0px 10px 10px 10px;
}

.folder__back::after {
  position: absolute;
  z-index: 0;
  bottom: 98%;
  left: 0;
  content: '';
  width: 30px;
  height: 10px;
  background: var(--folder-back-color);
  border-radius: 5px 5px 0 0;
}

.paper {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 70%;
  height: 80%;
  background: var(--paper-1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.paper:nth-child(2) {
  background: var(--paper-2);
  width: 80%;
  height: 75%;
}

.paper:nth-child(3) {
  background: var(--paper-3);
  width: 90%;
  height: 70%;
}

.folder__front {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: var(--folder-color);
  border-radius: 5px 10px 10px 10px;
  transform-origin: bottom;
  transition: all 0.3s ease-in-out;
  left: 0;
  top: 0;
}

.paper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  color: #18181b;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}